p {
    margin-bottom: 0;
    line-height: 1;
}

.header-top {
    background-color: #AAE0C2;
    width: 1440px;
    height: 80px;
    margin-bottom: 135px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.header-title {
    font-size: 15px;
    line-height: 1;
    margin-left: 43px;
}

.header-eate:hover {
    text-decoration:none;
}

.header-eate {
    line-height: 1;
    margin-right: 46px;
    border-radius: 10px;
    background-color: #FEFADA;
    display: block;
    padding: 8px 10px;
    color: #000;
}

.index-wrapper {
    width: 1314px;
    margin-left: 64px;
}

.index-title {
    text-align: center;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 0;
}

.index-content {
    width: 1314px;
    border: 1px solid black;
    border-radius: 10px;
}

.index-content-columns {
    display: flex;
}

.index-content-columns:nth-child(n) {
    margin-top: 23px;
    margin-bottom: 19px;
}

.index-content-columns :nth-child(1) {
    margin-left: 122px;
}

.index-content-columns :nth-child(2) {
    margin-left: 163px;
}

.index-content-columns :nth-child(3) {
    margin-left: 135px;
}

.index-content-columns :nth-child(4) {
    margin-left: 189px;
}

.index-content-columns :nth-child(5) {
    margin-left: 171px;
}


.index-column-values {
    display: flex;
    width: 1171px;
    height: 54px;
    margin-left: 69px;
    margin-bottom: 47px;
    border: 1px solid black;
    border-radius: 10px;
}

.index-column-values :nth-child(1),
.index-column-values > .index-column-values-name, 
.index-column-values :nth-child(3),
.index-column-values :nth-child(4),
.index-column-values :nth-child(5) {
    margin-top: 15px;
}

.index-column-values :nth-child(1) {
    margin-left: 54px;
}

.index-column-values > .index-column-values-name {
    margin-left: 130px;
}

.index-column-values :nth-child(3) {
    margin-left: 119px;
}

.index-column-values :nth-child(4) {
    margin-left: 175px;
}

.index-column-values :nth-child(5) {
    margin-left: 129px;
}

.index-column-values :nth-child(6) {
    margin-top: 10px;
    margin-left: 50px;
}
.index-column-values > .delete {
    margin-top: 10px;
    margin-left: 50px;
    display: inline-block;
}


.edit {
    width: 47px;
    height: 37px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #BAEAE6;
    text-align: center;
    line-height: 32px;
}

.delete-btn {
    width: 47px;
    height: 37px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #F0CFEC;
    text-align: center;
    line-height: 32px;
}

.create-wrapper {
    margin-left: 410px;
    display: inline-block;
}

.create-title {
    text-align: center;
    margin-bottom: 44px;
}

.create-box {
    height: 54px;
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}

#create-name, #create-eate, #create-comment, #create-time {
    border-radius: 10px;
    border: 1px solid #000;
    height: 54px;
    width: 335px;
}

#create-name {
    margin-left: 113px;
}

#create-eate {
    margin-left: 65px;
}

#create-comment {
    margin-left: 81px;
}

#create-time {
    margin-left: 113px;
}

.btn-box {
    display: flex;
    margin-left: 188px;
}

.index-btn , .create-btn, .edit-btn { 
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 15px;
    padding: 8px 18px;
}

.index-btn {
    background-color: #B3CDE6;
}

.create-btn, .edit-btn {
    margin-left: 121px;
    background-color: #FEFADA;
}

